.home {
    position: relative;
    display: flex;
    padding-bottom: 0;
}

.home::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    /* border-bottom: 1px solid ; */
    background-color: rgba(255, 255, 255, 0.18);
    bottom: 35px;
}
.homeLeft {
    padding-top: 200px;
    padding-left: 128px;
    position: relative;
}

.homeLeft::before{
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    left: 50%;
    background: #903AFF;
    box-shadow: 51px -100px 220px 100px #903AFF;
}

.getLinked{
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
}

.tech{
    position: relative;
}

.tech img {
    position: absolute;
    width: 53px;
    height: 73px;
    right: 30px;
    bottom: 70px;
}

.hackathon {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
}

.hack_colored{ 
    color: #d434fe;
    position: relative;
}

.iconHack {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: -150px;
}

.participate {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 56px;
    margin-top: 10px;
    width: 90%;
}

.homeRight {
    position: relative;
    padding-top: 125px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.homeRight::after{
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    left: 50%;
    top: 50%;
    background: #903AFF;
    box-shadow: 100px -150px 300px 85px #903AFF;
    z-index: 1;
}

.man {
    position: relative;
    transform: scale(0.9);
    /* margin-right: 50px; */
    object-fit: cover;
    filter: grayscale(100%);
}

.globe {
    position: absolute;
    top: 100px;
    left: 0;
    object-fit: cover;
    z-index: 100;
    /* transform: scale(0.8); */
}

.countdown {
    display: flex;
    gap: 30px;
    margin-top: 77px;
}

.countdown h2 {
    font-size: 64px;
    font-weight: 400;
}

.countdown h2 span {
    font-size: 14px;
}

.revolute{
    position: absolute;
    right: 55px;
    top: 32px;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
}

.hr{
    position: relative;
}

.hr svg{
    position: absolute;
    bottom: -15px;
    left: 10px;
    /* width: 95%; */
}