.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 200px;
    padding-top: 60px;
    gap: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.intro_message h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.intro_message p {
    font-size: 14px;
    font-weight: 700;
    line-height: 27.5px;
}

@media(max-width: 1300px){
    .intro{
        padding: 50px;
    }
}

@media(max-width: 850px){
    .intro{
        flex-direction: column;
        padding: 50px;
    }
    .intro_message{
        text-align: center;
    }
    .intro_message h3{
        font-size: 20px;
    }
    .intro img{
        max-width: 50vh;
    }
}

@media(max-width:550px){
    .intro img{
        max-width: 40vh;
    }
}