.partner {
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.01);
}

.partner h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 12px;
}

.partner p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    width: 35%;
    text-align: center;
}
.grid{
    /* text-align: center; */
    margin-top: 65px;
    border-radius: 5px;
    padding: 140px 180px;
    max-width: 100%;
    text-align: center;
    border: 1px solid #D434FE;
}

/* .grid{
    margin-top: 65px;
    border-radius: 5px;
    border: 1px solid #D434FE;
    width: 100%;
} */

.logoGrid{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoGrid div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.bottomgrid, .topgrid{
    gap: 30px;
}

.topgrid{
    margin-bottom: 50px;
}

.bottomgrid{
    margin-top: 50px;
}

.topgrid div img{
    display: flex;
    align-items: center;
    justify-content: center;
}


.hline{
    height: 112.476px;
    width: 8px;
    background-color: #D434FE;
}

.wline{
    width: 257.298px;
    height: 2px;
    background-color: #D434FE;
}


.lines{
    gap: 50px;
}

