.rule{
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 50px;
    position: relative;
    z-index: 20;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.rule::after{
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    right: 10px;
    bottom: -20px;
    background: #903AFF;
    box-shadow: 50px -100px 300px 100px #903AFF;
    z-index: -1;
}

.rules{
    position: relative;
    z-index: 20;
}

.rules h3{
    font-size: 32px;
    font-weight: 700;
}

.rules p{
    font-size: 14px;
    font-weight: 700;
    line-height: 27.5px;
    margin-top: 16px;
}

.rules::after{
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    left: 30%;
    bottom: 50px;
    background: #903AFF;
    box-shadow: 50px -100px 300px 100px #903AFF;
    z-index: -1;
}

@media(max-width: 850px){
    .rule{
        padding: 50px;
        flex-direction: column-reverse;
    }

    .rules{
        text-align: center;
    }

    .rule img{
        max-width: 50vh;
    }

    .rules h3{
        font-size: 20px;
    }
}